header {
  color: yellow;
  display: flex;
}

body {
  height: 1024px;
  left: 0px;
  top: 0px;
  font-family: "Open Sans";
  background: #9C835F;
}

.row {
  display: block;
  background: transparent !important;
  text-align: center;
  padding-top: 30px;
}

.column {
  display: inline-block;
  font-family: "open sans";
  background: transparent !important;
  text-align: center;
  margin-bottom: 20px;
}

.center-between {
  display: block;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-align: center;
}

.img-tanda {
  margin-right: 20px; 
  max-height: 50px; 
  padding-top: 18px;
}

.img-logo {
  margin-right: 20px;
  max-height: 70px;
  padding-top: 5px;
}

.button,
.button-com {
  display: block;
  margin-bottom: 10px;
  background: transparent !important;
  border: none !important;
  justify-content: center;
  font-size: 0;
  text-align: center;
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
  outline: none;
}

.button:hover {
  background: #d3d3d3 !important;
	border-radius: 30px;
}

.button-choose,
.button-choose-com {
	background: #d3d3d3 !important;
	border-radius: 30px;
}

.player {
  margin-bottom: 20px; 
  font-size: 34px; 
  font-weight: bold;
}

.message {
  pointer-events: none; 
  border: none; 
  background: transparent; 
  font-size: 100px; 
  color: red; 
  padding-bottom: 20px;
}

.refresh {
  background: transparent; 
  border: transparent;
}
.refresh img {
  max-width: 50px; 
  height: auto;
}

.computer {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
}

.score-player, .score-computer {
  font-size: 28px;
  color: black;
}

/* Loader CSS */
/* Infinity-1s-217px.gif */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 62, 62, 0.5);
  background-image: url("./assets/image/Double Ring-1s-154px.gif");
  background-repeat: no-repeat;
  background-position: center;
}